/build
\#*
*~
.#*
\#*\#

*.class

.idea
*.iml
.gradle
local.properties
/.DS_Store

# Test files copied from Android
src/test/java/com/couchbase/lite/
src/test/resources

# An artifact directory created by testing
couchbaselitetest

# Test files
*.sqlite3
db.forest
