/build
\#*
*~
.#*
\#*\#

*.class

.idea
*.iml
.gradle
local.properties
/.DS_Store
# These should always be copied fresh from Android
src/test/java/com/couchbase/lite/
src/test/resources
# This directory is an artifact created by testing
couchbaselitetest
